<a class="navbar-brand" href="#">
	<img class="navbar-brand-full" src="/img/brand/logo.jpg" width="89" height="25" alt="CoreUI Logo">
	<img class="navbar-brand-minimized" src="/img/brand/small_logo.png" width="30" height="30" alt="CoreUI Logo">
</a>